<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<FORM action = "http://localhost:5000/index", method = "post">
		<SELECT name="Countries" size="1">
		{%for i in range(0, Countries_len)%} 
    		<OPTION value="{{Countries[i]}}" >{{Countries[i]}} 
		{%endfor%} 
		</SELECT>

		<SELECT name="Categories" size="1">
		{%for i in range(0, Categories_len)%} 
    		<OPTION value="{{Categories[i]}}" >{{Categories[i]}} 
		{%endfor%} 
		</SELECT>

		<SELECT name="Allergens" size="1">
		{%for i in range(0, Allergens_len)%} 
    		<OPTION value="{{Allergens[i]}}" >{{Allergens[i]}} 
		{%endfor%} 
		</SELECT>
		<p><input type = "submit" value = "submit" /></p>
	</FORM>
	
</body>
</html>